body {
    align-items: center;
    background-color: #f7f7f7;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    padding: 0;
}

main {
    background-color: antiquewhite;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(45, 37, 27);
    display: block;
    max-width: 400px;
    padding: 2rem;
}

table {
    background-color: white;
    border-collapse: separate;
    border-spacing: 3px;
    text-indent: initial;
    width: 100%;
}

tr {
    border-color: inherit;
    display: table-row;
    vertical-align: inherit;
}
td {
    padding: 0.5rem 1rem;
}

thead td {
    display: table-cell;
    font-weight: bold;
    min-width: 8rem;
    text-align: left;
    vertical-align: inherit;
}

.columns {
    background-color: rgb(94, 72, 43);
    color: whitesmoke;
    font-size: larger;
}